.button {
  background-color: var(--c-theme);
  color: var(--c-text-color);
  padding-right: 15px;
  padding-left: 15px;
  height: 40px;
  font-weight: bold;
}

.button:hover {
  background-color: var(--c-theme);
  color: var(--c-text-color);
}

.bigButton {
  height: 47px;
}
